.business-card{
    width: 72%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: white;
}
.line{
    display: flex;
    margin-bottom: 0.3rem;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    color: grey;
}
.name{
    font-weight:600;
    font-size: large;
    color: #6E68E3;
}
.skills span{
    margin-right: 0.5rem;
    border-radius: 0.5rem;
    padding: 0.2rem;
    color: grey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
  
}
.skills span:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
